@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 100px;
}

.itemListContainer {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

h1 {
  font-size: 15px;
  margin: 0;
  width: 350px;
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin-right: 25px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  color: white;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
}

nav ul li:hover {
  color: rgb(153, 9, 9);
  cursor: pointer;
}

figure {
  margin: 0;
  height: 100px;
  display: flex;
  align-items: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "card card card card";
  margin-bottom: 40px;
}

.productCard {
  grid-area: card;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  transition: all 0.2s;
}

.productCard h2 {
  font-size: 25px;
  margin: 0;
}

.productCard h3 {
  font-size: 20px;
  margin: 0;
}

.productCard:hover {
  transform: scale(1.1)
}

.productDetail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 900px;
  margin: 50px auto;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.productDetailText {
  padding: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDetailText h2 {
  font-size: 40px;
  margin: 0;
}

.productDetailText h3 {
  font-size: 25px;
  margin: 0;
}

.productDetailText div p {
  text-align: justify;
  margin-bottom: 10px;
}

.addBtn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 40px;
}

.addBtn .addtoCart {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  align-content: center;
  margin-right: 30px;
  height: 40px;
  transition: all 0.3s;
  border: none;
}

.addBtn .addtoCart:hover {
  background-color: rgb(153, 9, 9);
}

.addBtn .quantity {
  display: flex;
  align-items: center;
  height: 40px;
}

.addBtn .quantity button {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  transition: all 0.3s;
  border: none;
}

.addBtn .quantity button:hover {
  background-color: rgb(153, 9, 9);
}

.addBtn .quantity p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0 10px;
  border: 1px solid grey;
  border-radius: 20px;
  height: 30px;
}

.buyBtn {
  width: 600px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-evenly;
}

.buyBtn button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  transition: all 0.3s;
  border: none;
}

.buyBtn button:hover {
  background-color: rgb(153, 9, 9);
}

.cartItemsContainer {
  border: 1px solid black;
  margin: 50px auto;
  width: 600px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: end;
  padding: 15px;
  background-color: lightgrey;
}

.total h2 {
  font-size: 20px;
  margin: 0;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  margin: 10px 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.cartItem img {
  margin: 0 20px;
}

.cartItem h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.cartItem div {
  display: flex;
}

.cartItem .info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}

.cartItem .info h4 {
  font-weight: 400;
  margin: 0;
}

.cartItem .itemTotal {
  width: 150px;
  text-align: end;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
}

.cartItem button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  margin-right: 15px;
  transition: all 0.3s;
  border: none;
}

.cartItem button:hover {
  background-color: rgb(153, 9, 9);
}

.empty {
  width: 500px;
  height: 150px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.empty h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 0;
}

.empty button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  transition: all 0.3s;
  border: 0;
}

.empty button:hover {
  background-color: rgb(153, 9, 9);
}

.widgetContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.widgetContainer p {
  margin: 0 5px;
  font-size: 12px;
}

.checkoutContainer {
  display: flex;
  justify-content: space-evenly;
}

.formContainer {
  border: 1px solid black;
  margin: 50px auto;
  width: 600px;
  height: 340px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: black;
}

.formContainer h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  background-color: lightgrey;
  margin: 0;
}

.form {
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  margin: 20px auto;
}

.form input,
select {
  width: 500px;
}

.checkoutBtns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.checkoutBtns button {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: none;
}

.checkoutBtns button:hover {
  background-color: rgb(153, 9, 9);
}

.notFound {
  margin: 50px;
}